
//* BRAND COLORS

$highlight: #c72323;
$orange_alt: #ED6A21;
$blue: #3343B5;
$dark_blue: #212564;
$grey: #232326;
$black: #141416;
$white: #F5F5FF;

//* OTHER COLORS

//* Fonts
$header-font: 'cabin', Helvetica, Arial, sans-serif;
$header-size: 3rem;

$copy-font: 'cabin', Helvetica, Arial, sans-serif;
$copy-size: 1.2rem;

//* OTHER VARS
$rad:.5rem;
$shadow: 2px 2px 2px rgba(0,0,0,0.5);